<!--
<section class="property-binding">
  <article>
    <h3>Interpolation/Interpolação</h3>
    <p>String renderizada com Interpolatio {{url}}</p>
  </article>
  <article>
    <h3>Property Binding</h3>

    <img src="{{urlImage}}" />
    <img [src]="urlImage" />
    <img bind-src="urlImage" />
  </article>
  <article>
    <div>Class e Style binding</div>
    <div>
      Selecione a classe:
      <select #clazz (change)="0">
                <option value="alert-success">Success</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Warning</option>
                <option value="alert-danger">Error</option>
            </select>
      <br/><br/>
      <div class="alert" role="alert" [class.alert-success]="clazz.value == 'alert-success'">Sucesso</div>
      <div class="alert" role="alert" [class.alert-info]="clazz.value == 'alert-info'">Info</div>
      <div class="alert" role="alert" [class.alert-warning]="clazz.value == 'alert-warning'">Waring</div>
      <div class="alert" role="alert" [class.alert-danger]="clazz.value == 'alert-danger'">Danger</div>
    </div>
  </article>
  <div class="alert alert-danger" role="danger" style="display: none;" [style.display]="clazz.value == 'alert-danger' ? 'block' : 'none'">
    This text show on case of error
  </div>
</section>
<section class="event-binding">
  <article>
    <h3>Event Binding</h3>
    <div>
      <button (click)="onClick()">Me clique</button>
      <br/><br/>
      <input type="text" 
          (keyup)="onKeyup($event)"
          (keyup.enter)="onSave(field.value)"
          (blur)="onSave(field.value)"
          #field />
          <div>Conteúdo Atual: {{current}}</div>
          <div>Conteúdo Salvo: {{saved}}</div>

          <span
          (mouseover)="onMouseSpan()"
          (mouseout)="onMouseSpan()"
          [class.hightlight]="isMouseOver">
            Passe o mouse aqui!
          </span>
    </div>
  </article>
</section>
-->
<section class="two-way-binding">
  <article>
    <h3>Two way data binding</h3>
    <div>

      <input type="text" [ngModel]="name" (ngModelChange)="name = $event" />
      <p>Você digitou {{name}}</p>
    </div>

  </article>
</section>
